~inc:header.inc~
<div id="content">

<h1>Authentication</h1>

<div class="result fail" style="display:~status_fail~">
ERROR: Operation failed.  Try again.
</div>
<p><b>Note:</b>
Use the fields to enter upto 16 characters and click "Save Config" to change credintials.
Username/Password can not contain a space.</p> 


<form method="post" action="/protect/auth.htm" name="authconfig">
<fieldset>

<div>&nbsp;</div>

<div><label>User Name:</label>
<input type="text" name="uNam" value="~user_name~" /></div>

<div><label>New Password:</label>
<input type="password" name="nPas" value="~user_newpass~" /></div>

<div><label>Confirm Password:</label>
<input type="password" name="cPas" value="~user_conpass~" /></div>

<div><input type="submit" class="sm" value="Save Config" /></div>
</fieldset>
</form>
</div>

<script language="javascript">
<!--
function configIPBoxes() {
	e = document.forms.config;	
	
	
}

configIPBoxes();
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~