~inc:header.inc~
<div id="content">

<h1>Device Configuration</h1>

<div class="result fail" style="display:~status_fail~">
ERROR: A field was unparsable or too much data was POSTed.  Try again.
</div>

<p>Enter new settings for the device below:</p>

<form method="post" action="/protect/devicesetting.htm" name="devs">
<fieldset>
<legend><b>Remote TCP Server:</b></legend>
<div>&nbsp;</div>
<div><label>IP/URL:</label>
<input type="text" name="sIP" value="~config_serv_ip~" /></div>
<div><label>Port:</label>
<input type="number" name="sPO" min="1" max="65535" value="~config_serv_port~" /></div>
<div><input type="submit" class="sm" value="Save" /></div>
</fieldset>

<fieldset>
<legend><b>UDP Settings:</b></legend>
<div>&nbsp;</div>
<div><label>Local Port:</label>
<input type="number" name="uLp" min="1" max="65535" value="~devset_udplport~" /></div>
<div><label>Remote Port:</label>
<input type="number" name="uRp" min="1" max="65535" value="~devset_udprport~" /></div>
<div><input type="submit" class="sm" value="Save" /></div>
</fieldset>

<fieldset>
<legend><b>LED Panel ID Settings:</b></legend>
<div>&nbsp;</div>
<table id="t01">
  <tr>
    <th>Sr. No.</th>
    <th>Display Id</th>
	<th>Brightness Level</th> 	
	<th>Enable</th>
  </tr>
  <tr>
    <td>1</td>
    <td><input type="number" class="um" name="did1"  min= "0" max="9999" value="~did0~" /></td>
	<td><input type="number" class="um" name="br1"  min=1 max="9" value="~br0~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh1" value="1" onclick="disableCntrl('t01')" ~IsDid0Enable~/></td>
  </tr>
  <tr>
    <td>2</td>
    <td><input type="number" class="um" name="did2" min= "0" max="9999" value="~did1~" /></td>
	<td><input type="number" class="um" name="br2"  min=1 max="9" value="~br1~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh2" value="1" onclick="disableCntrl('t01')" ~IsDid1Enable~/></td>
  </tr>
  <tr>
    <td>3</td>
    <td><input type="number" class="um" name="did3" min= "0" max="9999" value="~did2~" /></td>
	<td><input type="number" class="um" name="br3"  min=1 max="9" value="~br2~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh3" value="1" onclick="disableCntrl('t01')" ~IsDid2Enable~/></td>
  </tr>
  <tr>
    <td>4</td>
    <td><input type="number" class="um" name="did4" min= "0" max="9999" value="~did3~" /></td>
	<td><input type="number" class="um" name="br4"  min=1 max="9" value="~br3~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh4" value="1" onclick="disableCntrl('t01')" ~IsDid3Enable~/></td>
  </tr>
  <tr>
    <td>5</td>
    <td><input type="number" class="um" name="did5" min= "0" max="9999" value="~did4~" /></td>  
	<td><input type="number" class="um" name="br5"  min=1 max="9" value="~br4~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh5" value="1" onclick="disableCntrl('t01')" ~IsDid4Enable~/></td>
  </tr>
  <tr>
    <td>6</td>
    <td><input type="number" class="um" name="did6" min= "0" max="9999" value="~did5~" /></td>
	<td><input type="number" class="um" name="br6"  min=1 max="9" value="~br5~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh6" value="1" onclick="disableCntrl('t01')" ~IsDid5Enable~/></td>
  </tr>
  <tr>
    <td>7</td>
    <td><input type="number" class="um" name="did7" min= "0" max="9999" value="~did6~" /></td>
	<td><input type="number" class="um" name="br7"  min=1 max="9" value="~br6~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh7" value="1" onclick="disableCntrl('t01')" ~IsDid6Enable~/></td>
  </tr>
  <tr>
    <td>8</td>
    <td><input type="number" class="um" name="did8" min= "0" max="9999" value="~did7~" /></td>
	<td><input type="number" class="um" name="br8"  min=1 max="9" value="~br7~" /></td>  
	<td><input type="checkbox" class="sm" name="cdh8" value="1" onclick="disableCntrl('t01')" ~IsDid7Enable~/></td>
  </tr>
</table>
<div>&nbsp;</div>
<div><input type="submit" class="sm" value="Save" /></div>
</fieldset>

</form>
<div>&nbsp;</div>

</div>

<script language="javascript">
<!--
function disableCntrl(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=1; i<rowCount; i++) {
				var row = table.rows[i];
				var cdh = row.cells[3].childNodes[0];
				//if(null != cdh && true == cdh.checked) 
				{
					row.cells[1].childNodes[0].disabled = !cdh.checked;
					//rowCount--;
					//i--;
				}
			}
			}catch(e) {
				alert(e);
			}
		}

disableCntrl('t01');
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~