~inc:header.inc~
<div id="content">

<h1>Restore Settings</h1>

<table style="padding-left: 10px;">
<h3>Version Info</h3>
<tr><td><b>Hardware Version:</b></td><td>&nbsp;</td><td>~version~</td></tr>
<tr><td><b>Firmware Version:</b></td><td>&nbsp;</td><td>~builddate~</td></tr>
</table>

<div>&nbsp;</div>
<p>Note: The update process takes about 5 minutes to complete and your device will reboot.
</p>

<p class="error"> 
<b> CAUTION:<b> Wrong settings upload can make device misbehave. If such case arrived, hard reset the device.</p>
<div>&nbsp;</div>

<form action="/protect/download.htm" method="post" >
<div class="examplebox">
<p style="margin-bottom: 2px"><b>File: </b>&nbsp;

<input type="submit" value="Search Firmware" />
</p>
</div>
</form>
</div>

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
-->
</script>
~inc:footer.inc~