~inc:header.inc~
<div id="content">

<h1>Factory Defaults</h1>

<p>Click "Restore" to reset all configuration settings to their default values.</p>

<p>Note: The update process takes about 5 minutes to complete and your device will reboot.
</p>

<form method="post" action="/protect/factorysettings.htm" name="factorydefault">
<fieldset>

<div>&nbsp;</div>
<div><input type="submit" class="sm" value="Restore" /></div>
</fieldset>
</form>
</div>

<script language="javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~