~inc:header.inc~
<div id="content">

<div class="examplebox">
<h1>New Login Credential Successfully Created.</h1>
</div>

</div>

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>

~inc:footer.inc~