~inc:header.inc~
<div id="content">

<h1>Reboot In Progress...
<span id="countdown" style="font-weight: bold;">~rebootInterval~</span>
</h1>

<p>Your settings were successfully saved, and the board is now rebooting 
to configure itself with the new settings.</p>

<p align="center"><b>Your device is now located at: 
<a href="http://~rebootaddr~/">http://~rebootaddr~/</a></b></p>

<!--script>
        var timer = setTimeout(function() {
            window.location="http://~rebootaddr~/"
        }, 3000);
    </script-->
<h6></h6>

<h3>Reconnection Instructions</h3>

<ol>
<li style="margin-bottom:10px"><b>Did you change the hostname, IP or MAC address?</b><br />
	It is necessary to clear the address caches in your web browser and OS.
	From the command prompt in Windows, enter "nbtstat&nbsp;-R" to clear the hostname cache, 
	close your current web browser, open a new web browser, and then try to access the web address above.</li>
<li style="margin-bottom:10px"><b>Did you try the IP address?</b><br />
	Try accessing the board directly at the IP address shown on the LCD screen.
	(ex: enter "http://192.168.5.23/" into your browser).  If this fails, then 
	the IP address you set is not reachable.  Try the step below.</li>
<li><b>Still not working?</b><br />
	You can restore compile-time settings by clearing the device's memory. Hold
	RESET button on device for 5 seconds. The device will now reboot with default settings.
	<p>Enter "http://192.168.5.23/" into your browser to access device.</p>
	<p>Restore backup configurations.</p>
	</li>
</ol>
</div>

<!--script language="javascript">
<!-- 
function rebootDummy(x){}
setTimeout("newAJAXCommand('/protect/reboot.cgi',rebootDummy,false);",500);
//-->
</script!-->

<script type = "text/javascript">
/*author Philip M. 2010*/

var timeInSecs;
var ticker;

function rebootDummy(x){}
setTimeout("newAJAXCommand('/protect/reboot.cgi',rebootDummy,false);",500);

function startTimer(secs){
timeInSecs = parseInt(secs)-1;
ticker = setInterval("tick()",1000);   // every second
var timer = setTimeout(function() {
            window.location="http://~rebootaddr~/"
        }, secs*1000);
}

function tick() {
var secs = timeInSecs;
if (secs>0) {
timeInSecs--;
}
else {
clearInterval(ticker); // stop counting at zero
// startTimer(60);  // remove forward slashes in front of startTimer to repeat if required
}

document.getElementById("countdown").innerHTML = secs;
}

startTimer(~rebootInterval~);  // 60 seconds 
</script>

~inc:footer.inc~