~inc:header.inc~
<div id="content">

<h1>Restore Settings</h1>

<p><b>Step 1:</b> Click the "Browse" button to locate the settings file.</p>
<p><b>Step 2:</b> Click "Restore" button once to upload settings file.</p>
<div>&nbsp;</div>
<p>Note: The update process takes about 5 minutes to complete and your device will reboot.
</p>

<p class="error"> 
<b> CAUTION:<b> Wrong settings upload can make device misbehave. If such case arrived, hard reset the device.</p>
<div>&nbsp;</div>

<form action="/protect/restore.htm" method="post" enctype="multipart/form-data">
<div class="examplebox">
<p style="margin-bottom: 2px"><b>File: </b>&nbsp;
<input type="file" name="md5file" accept=".txt" size="30" /> &nbsp;
<input type="submit" value="Restore" />
</p>
</div>
</form>
</div>

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
-->
</script>
~inc:footer.inc~