~inc:header.inc~
<div id="content">

<h1>Remote Server Configuration</h1>
<p>Configure remote server IP and Port where data to be send.</p>
<div class="result fail" style="display:~status_fail~">
ERROR: A field was unparsable or too much data was POSTed.  Try again.
</div>
<p class="error">
<b>CAUTION:</b> Incorrect settings may cause the system to lose
connectivity with server.
IP address must be in dotted-decimal notation and port must be between 1000 and 65535</p>
<p>Enter the new settings for the system below:</p>

<form method="post" action="/protect/serverconfig.htm" name="serverconfig">
<fieldset>

<div>&nbsp;</div>

<div><label>Server IP/URL:</label>
<input type="text" name="sIP" value="~config_serv_ip~" /></div>
<div><label>Server Port:</label>
<input type="text" name="sPO" value="~config_serv_port~" /></div>
<div><input type="submit" class="sm" value="Save Config" /></div>
</fieldset>
</form>
</div>

<script language="javascript">
<!--
function configIPBoxes() {
	e = document.forms.config;	
	
	
}

configIPBoxes();
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~