~inc:header.inc~
<div id="content">

<h1>Update Firmware</h1>

<table style="padding-left: 10px;">
<h3>Version Info</h3>
<tr><td><b>Hardware Version:</b></td><td>&nbsp;</td><td>~version~</td></tr>
<tr><td><b>Firmware Version:</b></td><td>&nbsp;</td><td>~builddate~</td></tr>
</table>

<p><b>Step 1:</b> Obtain an updated firmware image from our website <a href="http:www.entesla.com">(www.entesla.com)</a>.</p>
<p><b>Step 2:</b> Click the "Browse" button to locate the image file.</p>
<p><b>Step 3:</b> Click "Update Firmware" button once to upload new image file.</p>
<div>&nbsp;</div>
<p>Note: The update process takes about 5 minutes to complete and your device will reboot.
It is advisable to backup settings before upgrading firmware.</p>

<p class="error"> 
<b> CAUTION:<b> Check the right firmware image for the device. Wrong image upload can permanently corrupt
the device. </p>
<div>&nbsp;</div>

<form action="/protect/upload.htm" method="post" enctype="multipart/form-data">
<div class="examplebox">
<!--~uploadedmd5~-->
<p style="margin-bottom: 2px"><b>File: </b>&nbsp;
<input type="file" name="md5file" size="30" accept=".img,.IMG" /> &nbsp;
<input type="submit" value="Update Firmware" />
</p>
</div>
</form>
</div>

<!--span id="version">~version~</span-->
<!--span id="builddate">~builddate~</span-->

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
-->
</script>

~inc:footer.inc~