~inc:header.inc~
<div id="content">

<h1>Backup Settings</h1>
<p>Click "Backup" to save all configuration settings as backup file in your local computer.</p>
<form method="post" action="backup.htm" name="backupsettings">
<fieldset>

<div>&nbsp;</div>
<div><input type="submit" class="sm" value="Backup" /></div>
</fieldset>
</form>
</div>

<script language="javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~