~inc:header.inc~


<div id="content">

<h1>Welcome!</h1>

<table style="padding-left: 10px;">
<tr><td><b>Stack Version:</b></td><td>&nbsp;</td><td>~version~</td></tr>
<tr><td><b>Build Date:</b></td><td>&nbsp;</td><td>~builddate~</td></tr>
</table>


<div id="status">
	<div id="loading" style="display:none">Error:<br />Connection to system was lost.</div>
	<div id="display">
		<!--span style="float:right;font-size:9px;font-weight:normal;padding-top:8px;text-indent:0px">(click to toggle)</span-->
		<fieldset>
<legend><b>LED Panel Status:</b></legend>
<div>&nbsp;</div>
		<table id="t01">
		<tr> 		
			<th>Sr. No.</th>
			<th>Display Id</th>
			<th>Current Value</th>  
			<th>Enable</th>   			
		</tr>
		<tr>
			<th>1.</th>
			<td>~did0~</td> 
			<td> <span id="led7">?</span> &nbsp;</td>	
			<td> <span id="btn7">?</span> &nbsp;</td>			
		</tr>
		<tr>
			<th>2.</th>
			<td>~did1~</td> 
			<td> <span id="led6">?</span> &nbsp;</td>	
			<td> <span id="btn6">?</span> &nbsp;</td>		
		</tr>
		<tr>
			<th>2.</th>
			<td>~did2~</td> 
			<td> <span id="led5">?</span> &nbsp;</td>	
			<td> <span id="btn5">?</span> &nbsp;</td>			
		</tr>
		<tr>
			<th>3.</th>
			<td>~did3~</td> 
			<td> <span id="led4">?</span> &nbsp;</td>	
			<td> <span id="btn4">?</span> &nbsp;</td>		
		</tr>
		<tr>
			<th>4.</th>
			<td>~did4~</td> 
			<td> <span id="led3">?</span> &nbsp;</td>	
			<td> <span id="btn3">?</span> &nbsp;</td>			
		</tr>
		<tr>
			<th>5.</th>
			<td>~did5~</td> 
			<td> <span id="led2">?</span> &nbsp;</td>	
			<td> <span id="btn2">?</span> &nbsp;</td>		
		</tr>
		<tr>
			<th>6.</th>
			<td>~did6~</td> 
			<td> <span id="led1">?</span> &nbsp;</td>	
			<td> <span id="btn1">?</span> &nbsp;</td>			
		</tr>
		<tr>
			<th>7.</th>
			<td>~did7~</td> 
			<td> <span id="led0">?</span> &nbsp;</td>	
			<td> <span id="btn0">?</span> &nbsp;</td>		
		</tr>
		</table>
		<!--p>LEDs:<br />
		<span id="led7">?</span> &nbsp;
		<span id="led6">?</span> &nbsp;
		<span id="led5">?</span> &nbsp;
		<span id="led4">?</span> &nbsp;
		<span id="led3">?</span> &nbsp;
		<span id="led2">?</span> &nbsp;
		<span id="led1">?</span> &nbsp;
		<span id="led0">?</span> 
		</p-->
		
		<!--span >
		<a id="led7" >&bull;</a>
		<a id="led6" >&bull;</a>
		<a id="led5" >&bull;</a>
		<a id="led4" >&bull;</a>
		<a id="led3" >&bull;</a>
		<a id="led2" >&bull;</a>
		<a id="led1" >&bull;</a>
		<a id="led0" >&bull;</a>
		</span></p!-->
		<!--p>Buttons:<br />
		<span id="btn7">?</span> &nbsp;
		<span id="btn6">?</span> &nbsp;
		<span id="btn5">?</span> &nbsp;
		<span id="btn4">?</span> &nbsp;
		<span id="btn3">?</span> &nbsp;
		<span id="btn2">?</span> &nbsp;
		<span id="btn1">?</span> &nbsp;
		<span id="btn0">?</span></p-->
		<!--p>Potentiometer: <span id="pot0" style="font-weight:normal">?</span></p-->
		</fieldset>
	</div>
</div>


</div>



<script type="text/javascript">
<!--
// Parses the xmlResponse from status.xml and updates the status box
function updateStatus(xmlData) {
	var mainstat = document.getElementById('display').style.display;
	var loadstat = document.getElementById('loading').style.display;

	// Check if a timeout occurred
	if(!xmlData)
	{
		mainstat = 'none';
		loadstat = 'inline';
		return;
	}

	// Make sure we're displaying the status display
	mainstat = 'inline';
	loadstat = 'none';

	// Loop over all the LEDs
	for(i = 0; i < 8; i++)
		document.getElementById('led' + i).innerHTML = (getXMLValue(xmlData, 'led' + i));
		//document.getElementById('led' + i).style.color = (getXMLValue(xmlData, 'led' + i) == '1') ? '#090' : '#ddd';

	// Loop over all the buttons
	for(i = 0; i < 8; i++)
		document.getElementById('btn' + i).innerHTML = (getXMLValue(xmlData, 'btn' + i) == 'up') ? '&Lambda;' : 'V';

	// Update the POT value
	document.getElementById('pot0').innerHTML = getXMLValue(xmlData, 'pot0');
}
setTimeout("newAJAXCommand('status.xml', updateStatus, true)",1000);
//-->
</script>

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>

~inc:footer.inc~
