~inc:header.inc~
<div id="content">
<h1>Welcome!</h1>

<form method="post" action="/index.htm" name="devs">
<fieldset>
<legend><b>LED Panel Status:</b></legend>
<div>&nbsp;</div>
<table id="t01">
  <tr> 
    <th>Sr. No.</th>
	<th>Display Id</th>
    <th>Current Value</th>  	   
	<th>Status</th>
	<th>Activity</th>
	<th>New Value</th>		
  </tr>
  <tr>
    <td>1</td>
	<td>~did0~</td>
	<td> <span id="led0">?</span> &nbsp;</td>	  
    <!--td><input type="number" class="um" name="dv1" min= "0" max="9999" value="~dv0~" /></td-->  
	<!--td><input type="checkbox" class="sm" name="cdh1" value="1" disabled ~IsDid0Enable~/></td-->	
	<td> <span id="btn0">?</span></td>
	<td> <span id="act0">?</span></td>		
	<td><input type="number" class="um" name="dv1" min= "0" max="9999" value="~dv0~" /><button type="button" class="sm" onclick=SubmitNewValue(0); />Set</button></td> 
	<!--td>~IsDid0Connect~</td-->
  </tr>
  <tr>
    <td>2</td>
	<td>~did1~</td>  
	<td> <span id="led1">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv2" min= "0" max="9999" value="~dv1~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh2" value="1" disabled ~IsDid1Enable~/></td-->	
	<td> <span id="btn1">?</span></td>	
	<td> <span id="act1">?</span></td>
	<td><input type="number" class="um" name="dv2" min= "0" max="9999" value="~dv1~" /><button type="button" class="sm" onclick=SubmitNewValue(1); />Set</button></td> 
	<!--td> ~IsDid1Connect~</td-->
  </tr>
  <tr>
    <td>3</td>
	<td>~did2~</td>  
	<td> <span id="led2">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv3" min= "0" max="9999" value="~dv2~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh3" value="1" disabled ~IsDid2Enable~/></td-->
	<td> <span id="btn2">?</span></td>	
	<td> <span id="act2">?</span></td>
	<td><input type="number" class="um" name="dv3" min= "0" max="9999" value="~dv2~" /><button type="button" class="sm" onclick=SubmitNewValue(2); />Set</button></td>
	<!--td> ~IsDid2Connect~</td-->
  </tr>
  <tr>
    <td>4</td>
	<td>~did3~</td>
	<td> <span id="led3">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv4" min= "0" max="9999" value="~dv3~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh4" value="1" disabled ~IsDid3Enable~/></td-->
	<td> <span id="btn3">?</span></td>
	<td> <span id="act3">?</span></td>
	<td><input type="number" class="um" name="dv4" min= "0" max="9999" value="~dv3~" /><button type="button" class="sm" onclick=SubmitNewValue(3); />Set</button></td>	
	<!--td> ~IsDid3Connect~</td-->
  </tr>
  <tr>
    <td>5</td>
	<td>~did4~</td>
	<td> <span id="led4">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv5" min= "0" max="9999" value="~dv4~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh5" value="1" disabled ~IsDid4Enable~/></td-->
	<td> <span id="btn4">?</span></td>	
	<td> <span id="act4">?</span></td>
	<td><input type="number" class="um" name="dv5" min= "0" max="9999" value="~dv4~" /><button type="button" class="sm" onclick=SubmitNewValue(4); />Set</button></td>
	<!--td> ~IsDid4Connect~</td-->
  </tr>
  <tr>
    <td>6</td>
	<td>~did5~</td>  
	<td> <span id="led5">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv6" min= "0" max="9999" value="~dv5~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh6" value="1" disabled ~IsDid5Enable~/></td-->
	<td> <span id="btn5">?</span></td>	
	<td> <span id="act5">?</span></td>
	<td><input type="number" class="um" name="dv6" min= "0" max="9999" value="~dv5~" /><button type="button" class="sm" onclick=SubmitNewValue(5); />Set</button></td>
	<!--td> ~IsDid5Connect~</td-->
  </tr>
  <tr>
    <td>7</td>
	<td>~did6~</td>  
	<td> <span id="led6">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv7" min= "0" max="9999" value="~dv6~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh7" value="1" disabled ~IsDid6Enable~/></td-->
	<td> <span id="btn6">?</span></td>	
	<td> <span id="act6">?</span></td>
	<td><input type="number" class="um" name="dv7" min= "0" max="9999" value="~dv6~" /><button type="button" class="sm" onclick=SubmitNewValue(6); />Set</button></td>
	<!--td> ~IsDid6Connect~</td-->
  </tr>
  <tr>
    <td>8</td>
	<td>~did7~</td>  
	<td> <span id="led7">?</span> &nbsp;</td>
    <!--td><input type="number" class="um" name="dv8" min= "0" max="9999" value="~dv7~" /></td-->
	<!--td><input type="checkbox" class="sm" name="cdh8" value="1" disabled ~IsDid7Enable~/></td-->
	<td> <span id="btn7">?</span></td>	
	<td> <span id="act7">?</span></td>
	<td><input type="number" class="um" name="dv8" min= "0" max="9999" value="~dv7~" /><button type="button" class="sm" onclick=SubmitNewValue(7); />Set</button></td>
	<!--td> ~IsDid7Connect~</td-->
  </tr>
</table>
<div>&nbsp;</div>
<div><input type="submit" class="sm" value="Save" /></div>
</fieldset>
</form>

</div>

<script type="text/javascript">
<!--
// Parses the xmlResponse from status.xml and updates the status box
function updateStatus(xmlData) {
	//var mainstat = document.getElementById('display').style.display;
	//var loadstat = document.getElementById('loading').style.display;

	// Check if a timeout occurred
	if(!xmlData)
	{
		//mainstat = 'none';
		//loadstat = 'inline';
		for(i = 0; i < 8; i++)
		document.getElementById('btn' + i).innerHTML = 'V';
		return;
	}

	// Make sure we're displaying the status display
	//mainstat = 'inline';
	//loadstat = 'none';

	// Loop over all the LEDs
	for(i = 0; i < 8; i++)
		document.getElementById('led' + i).innerHTML = (getXMLValue(xmlData, 'led' + i));
		//document.getElementById('led' + i).style.color = (getXMLValue(xmlData, 'led' + i) == '1') ? '#090' : '#ddd';

	// Loop over all the buttons
	for(i = 0; i < 8; i++)
		document.getElementById('btn' + i).innerHTML = (getXMLValue(xmlData, 'btn' + i) == 'up') ? 'Disconnected' : 'Connected';

	// Update the POT value
	//document.getElementById('pot0').innerHTML = getXMLValue(xmlData, 'pot0');
}
setTimeout("newAJAXCommand('status.xml', updateStatus, true)",5000);

function GetActivityStatus(val)
{
	if(val == 'checked')
		return('Enabled');
	else
		return('Disabled');
}

document.getElementById("act0").innerHTML = GetActivityStatus('~IsDid0Enable~');
document.getElementById("act1").innerHTML = GetActivityStatus('~IsDid1Enable~');
document.getElementById("act2").innerHTML = GetActivityStatus('~IsDid2Enable~');
document.getElementById("act3").innerHTML = GetActivityStatus('~IsDid3Enable~');
document.getElementById("act4").innerHTML = GetActivityStatus('~IsDid4Enable~');
document.getElementById("act5").innerHTML = GetActivityStatus('~IsDid5Enable~');
document.getElementById("act6").innerHTML = GetActivityStatus('~IsDid6Enable~');
document.getElementById("act7").innerHTML = GetActivityStatus('~IsDid7Enable~');

//function pad (str, max) 
//{
//    return str.length < max ? pad("0" + str, max) : str;
//}

String.prototype.padZero= function(len, c){
    var s= '', c= c || '0', len= (len || 2)-this.length;
    while(s.length<len) s+= c;
    return s+this;
}
Number.prototype.padZero= function(len, c){
    return String(this).padZero(len,c);
}
	
function SubmitNewValue(id)
{
	var value, v;
	
	switch(id)
	{
		case 0: v = document.getElementsByName("dv1")[0].value;
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l0=' + value);
		break;
		
		case 1: v = (document.getElementsByName("dv2")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l1=' + value);
		break;
		
		case 2: v = (document.getElementsByName("dv3")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l2=' + value);
		break;
		
		case 3: v = (document.getElementsByName("dv4")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l3=' + value);
		break;
		
		case 4: v = (document.getElementsByName("dv5")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l4=' + value);
		break;
		
		case 5: v = (document.getElementsByName("dv6")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l5=' + value);
		break;
		
		case 6: v = (document.getElementsByName("dv7")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l6=' + value);
		break;
		
		case 7: v = (document.getElementsByName("dv8")[0].value);
		value = v.padZero(4);
		if(value.length > 4 )
		{
			alert("max set value can be 9999");
			break;
		}
		newAJAXCommand('leds.cgi?l7=' + value);
		break;
	}
	
	
}
//-->
</script>

<script type="text/javascript">
document.getElementById('hello').innerHTML = "~hellomsg~";
</script>
~inc:footer.inc~
