~inc:header.inc~
<div id="content">

<div id="status">
	<div id="loading" style="display:none">Error:<br />Connection to demo board was lost.</div>
	<div id="display">
		<span style="float:right;font-size:9px;font-weight:normal;padding-top:8px;text-indent:0px">(click to toggle)</span>
		<p>LEDs:<br /><span class="leds">
		<a id="led7" onclick="newAJAXCommand('leds.cgi?led=7');">&bull;</a>
		<a id="led6" onclick="newAJAXCommand('leds.cgi?led=6');">&bull;</a>
		<a id="led5" onclick="newAJAXCommand('leds.cgi?led=5');">&bull;</a>
		<a id="led4" onclick="newAJAXCommand('leds.cgi?led=4');">&bull;</a>
		<a id="led3" onclick="newAJAXCommand('leds.cgi?led=3');">&bull;</a>
		<a id="led2" onclick="newAJAXCommand('leds.cgi?led=2');">&bull;</a>
		<a id="led1" onclick="newAJAXCommand('leds.cgi?led=1');">&bull;</a>
		<a id="led0" onclick="newAJAXCommand('leds.cgi?led=0');">&bull;>&bull;</a>
		</span></p>
		<p>Buttons:<br />
		<span id="btn7">?</span> &nbsp;
		<span id="btn6">?</span> &nbsp;
		<span id="btn5">?</span> &nbsp;
		<span id="btn4">?</span> &nbsp;
		<span id="btn3">?</span> &nbsp;
		<span id="btn2">?</span> &nbsp;
		<span id="btn1">?</span> &nbsp;
		<span id="btn0">?</span></p>
		<p>Potentiometer: <span id="pot0" style="font-weight:normal">?</span></p>
	</div>
</div>

<h1>Welcome!</h1>

<table style="padding-left: 10px;">
<tr><td><b>Stack Version:</b></td><td>&nbsp;</td><td>~version~</td></tr>
<tr><td><b>Build Date:</b></td><td>&nbsp;</td><td>~builddate~</td></tr>
</table>



</div>

<script type="text/javascript">
<!--
// Parses the xmlResponse from status.xml and updates the status box
function updateStatus(xmlData) {
	var mainstat = document.getElementById('display').style.display;
	var loadstat = document.getElementById('loading').style.display;

	// Check if a timeout occurred
	if(!xmlData)
	{
		mainstat = 'none';
		loadstat = 'inline';
		return;
	}

	// Make sure we're displaying the status display
	mainstat = 'inline';
	loadstat = 'none';

	// Loop over all the LEDs
	for(i = 0; i < 8; i++)
		document.getElementById('led' + i).style.color = (getXMLValue(xmlData, 'led' + i) == '1') ? '#090' : '#ddd';

	// Loop over all the buttons
	for(i = 0; i < 8; i++)
		document.getElementById('btn' + i).innerHTML = (getXMLValue(xmlData, 'btn' + i) == 'up') ? '&Lambda;' : 'V';

	// Update the POT value
	document.getElementById('pot0').innerHTML = getXMLValue(xmlData, 'pot0');
}
setTimeout("newAJAXCommand('status.xml', updateStatus, true)",1000);
//-->
</script>

<script type="text/javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>

~inc:footer.inc~
