~inc:header.inc~
<div id="content">

<h1>Reboot Device</h1>

<form method="post" action="restart.htm" name="restartdevice">
<fieldset>

<div>&nbsp;</div>
<div><input type="submit" class="sm" value="Reboot Device" /></div>
</fieldset>
</form>
</div>

<script language="javascript">
<!--
document.getElementById('hello').innerHTML = "~hellomsg~";
//-->
</script>
~inc:footer.inc~