body {
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	background-color: #BEBEBE;
	color: #77776E;
}

* {
	margin:0; padding:0;
}
img,fieldset{
	border:none;
}
a{
	text-decoration:none;
}

/*----------------------*/
/*     page structure   */
/*----------------------*/
#header {
	height: 220px;
	width:960px;
	margin:10px auto;
}

#menu_lft,
#menu_rgt,
#menu_bg {
	height:51px;
}
#menu_lft {
	background:url(../image/bgr_menu_lft.png) no-repeat;
	padding-left:9px;
}
#menu_rgt {
	background:url(../image/bgr_menu_rgt.png) no-repeat right top;
	padding-right:9px;
}
#menu_bg {
	background:url(../image/bgr_menu_bg.jpg) repeat-x;
	width:942px;
	position:relative;
}
#menu_bg ul.nav {
	float:left;
	width:650px;
	overflow:hidden;
}
#menu_bg ul.nav li {
	background:url(../image/bgr_libdr.jpg) no-repeat;
	line-height:38px;
	padding:0 25px 0 25px;
	float:left;
	list-style:none;
}
#menu_bg ul.nav .bg_none {
	background:none;
	padding-left:25px;
}
#menu_bg ul.nav li a {
	display:block;
	float:left;
	font-size:12px;
	color:#fff;
	font-weight:bold;
}
.menu_rgt {
	width:280px;
	float:right;
	overflow:hidden;
}
.scart {
	width:80px;
	float:left;
	background:url(../image/bgr_cart.jpg) no-repeat 100% 7px;
	line-height:38px;
}
.scart a {
	font-size:10px;
	color:#d2d2d2;
}

.account {
	position: relative;
	width:180px;
	/* background:url(../image/btn_login.jpg) no-repeat; */
	height:25px;
	margin-top:7px;
	float:right;
	line-height:25px;
	color: #fff;
	text-align: right;
}

.account a{
	color: #fff;
}

.account_menu {
    box-shadow: 0 5px 5px #666;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 150;
    width: 120px;
}

.account_menu li a {
    background-color: #6E6E6E;
    color: #fff;
    border-top: 1px solid #CCCCCC;
    display: block;
    padding: 8px;
    text-align: left;
    width: 120px;
}

.account_menu li a:hover {
    background-color: #F2F2EE;
    color: #000;
}

a.logout:hover {
    background-color: #000 !important;
    color: #FFFFFF !important;
}

a.dropdown {
    background:url(../image/dropdown.png) 0px -16px no-repeat;
    height: 20px;
    text-decoration: none;
}

a.dropdown:hover {
    text-decoration: none;
}

#search {
	background:url(../image/bgr_search.jpg) no-repeat;
	width:230px;
	height:30px;
	position:absolute;
	left:-9px;
	top:44px;
	padding-left:16px;
}

#search p {
	float:left;
	margin-right:8px;
	margin-top: 0px;
}

p.inp_txt {
	margin-top: 0px;
}

.inp_txt input {
	background:#aaa9a9;
	border:1px solid #c2c0c0;
	width:145px;
	height:17px;
	padding:2px 5px;
	font-size:12px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

#button-search {
	border:none;
	cursor:pointer;
	background:url(../image/inp_submit.png) no-repeat;
	width:32px;
	height:20px;
}
/*----------------------*/
/*     category menu    */
/*----------------------*/

#product_category {
	margin: 15px 0px 0px 10px;
	width:205px;
	height:36px;
	background:url(../image/product-category.gif) no-repeat;
}

ul#category_menu {
	width:210px;
	padding-top:9px;
	padding-bottom:10px;
	margin-left: 10px;
	list-style:none;
}

#category_menu a {
	text-decoration:none;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

/*
#category_menu > li
{
	background: url("../image/arrow.gif") no-repeat scroll left 14px transparent;
}
*/

#category_menu li {
	display:block;
	margin:8px 5px;
}

#category_menu li a{
	
}

#category_menu span.empty{
	display: block;
	float: left;
	width: 12px;
	height: 7px;
	padding:5px;
	cursor:pointer;
}

#category_menu span.arrow{
	display: block;
	float: left;
	width: 12px;
	height: 7px;
	background: url("../image/arrow-right.png") no-repeat scroll left center transparent;
	padding:5px;
	cursor:pointer;
}

#category_menu span.down{
	background: url("../image/arrow-down.png") no-repeat scroll left center transparent;
}

#category_menu li:hover a {
	color:#333;
}

#category_menu .sub-menu {
	display: none;
	list-style:none;
	margin:4px 0px 3px 0px;
	z-index:99;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	line-height:21px;
}

#category_menu .sub-menu li {
	margin:0px;
	padding:0px;
}

#category_menu .visible {
	display: block;
}
#category_menu a.active {
	color: #1998CD;
	font-weight: bold;
}
#category_menu .sub-menu li a.active {
	color: #1998CD;
	font-weight: bold;
}

#category_menu .sub-menu li a {
	color:#666;
	margin:0px 0px 0px 40px;
	padding:0px;
	display:block;
	font-size:12px;
	width:162px;
}
#category_menu .sub-menu li a:hover {
	color:#000;
}
/* Footer */
#socialbox {
	float: right;
}

#fb {
	background:url(../image/socialicons.jpg) no-repeat;
	width:24px;
	height:24px;
	float: left;
}

#tw {
	background:url(../image/socialicons.jpg) no-repeat;
	width:24px;
	height:24px;
	background-position:-24px 0px;
	float: left;
	margin-left: 5px;
}

#li {
	background:url(../image/socialicons.jpg) no-repeat;
	width:24px;
	height:24px;
	background-position:-48px 0px;
	float: left;
	margin-left: 5px;
}
.heading16 {
    color: #5B595B;
    font-family: "Lucida Grande",arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.padTop5 {
	margin: 0px;
	padding-top: 5px;
}
.borderTopBottom {
	border-bottom: 1px dashed #999999;
	border-top: 1px dashed #999999;
	float: left;
	padding: 15px 0;
	width: 100%;
	margin:10px 0px;
}
.securePayment {
    background: url(../image/secure-payment.gif) no-repeat scroll left top transparent;
    float: left;
    padding-left: 70px;
    width: 250px;
}
.weAccept {
	background: url(../image/cards.gif) no-repeat scroll 90px 4px transparent;
	float: right;
	width: 280px;
}
.poweredBy {
	background: url(../image/techpro.png) no-repeat scroll 100px 0px transparent;
	float: left;
	width: 280px;
	height: 50px;
	margin-left: 40px;
}
.alert-message {
    position: relative;
    float: left;
    left: 260px;
    color: #FFF;
    padding: 10px 10px 5px 10px;
    z-index: 99;
    width: 480px;
    margin-top: 5px;
}
.alert-message strong {
    display: block;
    float: left;
}
.alert-message p {
    display: block;
    margin: 0px;
    float: left;
    margin-left: 10px;
}

.alert-message.red {
    background-color: red;
}

.alert-message.orange {   
    background-color: orange;
}

.alert-message.yellow {
    background-color: yellow;
}

.alert-message.green {
    background-color: green;
}